body { font-size: 1em; padding-right: 10%; padding-left: 10%; }
header { color: gray; font-size: 0.5em; }
blockquote { background: lightgray; color: black; width: 60%; padding: 20px; }
a { color: #003; }